.caja{
	width: 180px;
	height: 120px;
	float: left;
}
.amarilla{
	background-color: yellow;


}

.azul{
	background-color: blue;

}

.roja{
	background-color: red;
}

.contenedor{
	border:1px solid black;
}